VITE_THIRDWEB_CLIENT_ID=your_client_id_here
VITE_ACTIVE_CHAIN=arbitrum
VITE_APF_TREASURY_ADDRESS=0x0000000000000000000000000000000000000000
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_CF_ANALYTICS_TOKEN=your_cloudflare_web_analytics_token_here
